.Rhistory
.Rproj.user
.RData
analysis/*.csl
analysis/*.tex
analysis/*.html
analysis/more/*
analysis/previous/*
data/*
data-raw/*
figure/*
R/previous/*
notrack/*
report/*
table/*
*.docx
*.pdf
*.odp
*.pptx
*.ppt
*.html
table.Rmd
s3.tex
s3expoLAB.tex
s1expo.tex
s2.tex
s1xx.tex
s1.tex
s3expo.tex
*.knit.md
*.utf8.md
08-serotbl.Rmd
09-manuscript.Rmd
08-serotbl.*
10-*
11-*
12-*
update_censo.*
*-sev.*
analysis/*_files/
*project.tex